h1,
h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
.nav {
  position: absolute;
  right: 20px;
  top: 20px;
}
.h1 {
  padding-top: 20px;
}
.nav a {
  margin-left: 20px;
}
.about {
}
